* {
    -fx-font-family: 'Varela Round';
    -fx-alignment: center;
    -fx-text-fill: #000;
}

#container {
    -fx-background: #35B55C;
    -fx-pref-width: 800px;
    -fx-padding: 25px;
    -fx-spacing: 20px;
}

.btn-container {
    -fx-spacing: 20px;
    -fx-padding: 15px 10px 0px 0px;
}

.input-container {
    -fx-spacing: 20px;
    -fx-padding: 20px 10px 0px 0px;
}

.vBox {
    -fx-padding: 25px;
}

.label {
    -fx-text-fill: #fff;
}

#title {
    -fx-content-display: center;
    -fx-pref-width: 700px;
    -fx-background-color: #202428;
    -fx-font-size: 40px;
    -fx-line-height: 80px;
    -fx-border-radius: 8px;
    -fx-letter-spacing: 10px;
}

.buttons {
    -fx-spacing: 10px;
}

.button {
    -fx-border-radius: 6px;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #fff;
    -fx-background-color: none;
    -fx-text-fill: #fff;
    -fx-fill-width: true;
    -fx-cursor: pointer;
    -fx-padding: 10px 10px 10px 10px;
    -fx-font-size: 20px;
    -fx-min-width: 250px;
}

.text-field, .text-area, .combo-box, .string {
    -fx-pref-width: 400px;
    -fx-border-radius: 6px;
    -fx-border-width: 2px;
    -fx-border-color: #fff;
    -fx-border-style: solid;
    -fx-font-size: 15px;
    -fx-text-fill: #000;
}

.text-area {
    -fx-pref-height: 500px;
}

.text-field {
    -fx-margin: 10px 10px 10px 10px;
}

.string {
    -fx-text-fill: #000;
}

.label {
    -fx-padding: 7px 20px 7px 0px;
    -fx-font-size: 15px;
    -fx-text-alignment: center;
    -fx-min-width: 130px;
    /*-fx-background-color: #202428;*/
    /*-fx-text-fill: #fff;*/
}

.hBox .button {
    -fx-alignment: center;
}



/*.root{*/
/*    -fx-background-color: #262626;*/
/*}*/

.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}